---
layout: default
title: Home
---

<p style="text-align: left;"><img style="float: left; margin: 0px 15px 15px 0px" src="profile.jpg" alt="choi_chek_hin_2201_c57" width="171" height="238" />I am currently an Assistant Professor at the <a href="http://idda.cuhk.edu.cn/en" target="_blank">Institute for Data and Decision Analytics</a> at Chinese University of Hong Kong, Shenzhen. I graduated from the <a href="http://www.orie.cornell.edu/" target="_blank">School of Operations Research and Information Engineering</a> at <a href="http://www.cornell.edu/" target="_blank">Cornell University</a>. My advisor is <a href="http://courses2.cit.cornell.edu/pp396/" target="_blank">Prof. Pierre Patie</a>. I am interested in probability theory, statistics, stochastic processes and their applications. My recent work is on the analysis of non-reversible Markov chains. Prior to Cornell, I received my undergraduate degree in Actuarial Science at <a href="http://www.hku.hk/" target="_blank">The University of Hong Kong</a>.

<!--
{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/images/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}-->

<!-- Pagination links -->
<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}

</div> -->
